
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--CF);
}

html{
    width: 100vh; 
}

:root{
    --CF: #3C3D40;
    --CH: #212226;
    --CT: #c6cbcf;
    --T1: 'Dimitri';
    --T2: "Anton SC", sans-serif;
}

img{
    width: 50%;
    margin-bottom: 20px;
}

.container{
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 40px;
}
